<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fontello.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div id="top-bar">
        <div id="res_name">
            <p>SNACKZEN</p>
        </div>
        <div id="contest-menu">
            {% for el in menu %}
                <a class="contest-menu-element" href="{{ el.url }}">{{ el.name }} </a>
            {% endfor %}
        <a id="contest-menu-element-user" href="kebab"><i class="icon-user"></i> </a>
        </div>
    </div>
    <div id="information-box" style="background-color: white; display: inline-block; vertical-align: top;">
       <div class="carousel-wrapper">
          <span id="item-1"></span>
          <span id="item-2"></span>
          <span id="item-3"></span>
           {% for el in about %}
                  <div class="carousel-item {{el.name}}">
                    <h2 style="color:red">{{el.description}}</h2>
                    <p>{{el.val}}</p>
                    <a class="arrow arrow-prev" href="#{{ el.prev }}"></a>
                    <a class="arrow arrow-next" href="#{{ el.next }}"></a>
                  </div>
         {% endfor %}
        </div>
        <div id="hello-box">
            <h1>Snackzen - witamy !</h1>
            <p>Snackzen działa od 2000 roku. Z dumą podajemy śniadania, obiady i kolacje naszym sąsiadom i przyjaciołom z całej okolicy miejscowości Warszawa.
               Zajrzyj do nas i odkryj, jak pyszne może być jedzenie.</p>
        </div>
    </div>
<footer>
         <p>©Created by Maciej Kolodziej. WCY19IJ1S1</p>
    </footer>
</body>
</html>