{% extends "layout.html" %}
{% block content %}
    <div id="information-box">
        <div class="information-box-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="information-box-content-text">
            <h1 style="color: #ff3300">Informacja</h1><br>Snackzen to Restauracja amerykańska w miejscowości Warszawa. Specjalizujemy się w śniadaniach, obiadach, kolacjach i wszelkich przekąskach. Używamy najświeższych składników, aby przyrządzać wyjątkowe dania w swobodnym, przyjaznym dla rodzin otoczeniu.
                        <br><br>Nasza unikalna mieszanka lokalnych produktów i innowacyjne podejście do klasycznych potraw pomagają nam bezbłędnie łączyć odważne pomysły z tradycyjnymi przepisami. Czas wejść, usiąść i przygotować się na wspaniałe jedzenie!
                <br><br><br><a id="contact" href="kebab">Skontaktuj sie!</a>
            </div>
        </div>
         <div class="information-box-content">
             <div class="information-box-content-image">
            </div>
         </div>
    </div>
{% endblock content %}