<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fontello.css') }}">
</head>
<body>
    <div id="top-bar">
        <div id="res_name">
            <p>SNACKZEN</p>
        </div>
        <div id="contest-menu" >
            {% for el in menu %}
                <a class="contest-menu-element" href="{{ el.url }}">{{ el.name }} </a>
            {% endfor %}
        <a id="contest-menu-element-user" href="kebab"><i class="icon-user"></i> </a>
        </div>
    </div>
    <div id="information-box">
        <div class="information-box-content">
            <div class="information-box-content-text">
            <h1 style="color: #ff3300">Informacja</h1><br>Snackzen to Restauracja amerykańska w miejscowości Warszawa. Specjalizujemy się w śniadaniach, obiadach, kolacjach i wszelkich przekąskach. Używamy najświeższych składników, aby przyrządzać wyjątkowe dania w swobodnym, przyjaznym dla rodzin otoczeniu.
                        <br><br>Nasza unikalna mieszanka lokalnych produktów i innowacyjne podejście do klasycznych potraw pomagają nam bezbłędnie łączyć odważne pomysły z tradycyjnymi przepisami. Czas wejść, usiąść i przygotować się na wspaniałe jedzenie!
                <br><br><br><a id="contact" href="kebab">Skontaktuj sie!</a>
            </div>
        </div>
         <div class="information-box-content">
             <div class="information-box-content-image">
            </div>
         </div>
    </div>
<footer>
        <p>©Created by Maciej Kolodziej. WCY19IJ1S1</p>
    </footer>
</body>
</html>