{% extends "layout.html" %}
{% block content %}
    <div id="information-box" style="background-color: white; display: inline-block; vertical-align: top;">
            <div class="carousel">
            <ul class="slides">
                {% for el in images %}
                    <input type="radio" name="radio-buttons" id="{{ el.name}}" checked />
                      <li class="slide-container">
                        <div class="slide-image">
                          <img src="{{ el.img }}">
                        </div>
                        <div class="carousel-controls">
                          <label for="{{ el.prev }}" class="prev-slide">
                            <span>&lsaquo;</span>
                          </label>
                          <label for="{{ el.next }}" class="next-slide">
                            <span>&rsaquo;</span>
                          </label>
                        </div>
                      </li>
                {% endfor %}
              <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              </div>
            </ul>
          </div>
        <div id="hello-box">
            <h1>Snackzen - witamy !</h1>
            <p>Snackzen działa od 2000 roku. Z dumą podajemy śniadania, obiady i kolacje naszym sąsiadom i przyjaciołom z całej okolicy miejscowości Warszawa.
               Zajrzyj do nas i odkryj, jak pyszne może być jedzenie. Snackzen działa od 2000 roku. Z dumą podajemy śniadania, obiady i kolacje naszym sąsiadom i przyjaciołom z całej okolicy miejscowości Warszawa.
               Zajrzyj do nas i odkryj, jak pyszne może być jedzenie.</p>
        </div>
    </div>
{% endblock content %}