{% extends "layout.html" %}
{% block content %}
    <div style ="background-color: white"  id="information-box">
        <div class="information-box-content">
            <div class="information-box-content-text">
            <h1 style="color: #ff3300">Skontaktuj sie z nami</h1><br>
                <p>Puławska 11, 96-111 Warszawa</p><br>
                <p>maciek.kolodziej2000@o2.pl</p><br>
                <p>(+48) 123 456 789</p><br>
            </div>
        </div>
         <div class="information-box-content2">
             <div class="information-box-content-text2">
              <form action="">
                <p>
                  <label for="">Imie*</label>
                  <input type="text">
                </p>
                <p>
                  <label for="">E-mail*</label>
                  <input type="text">
                </p>
                <p>
                  <label for="">Telefon</label>
                  <input type="text">
                </p>
                <p>
                  <label for="">Adres</label>
                  <input type="text">
                </p>
                <p class="full-width">
                  <label for="">Temat</label>
                  <textarea id="" cols="40" rows="1"></textarea>
                </p>
                <p class="full-width">
                  <label for="">Wiadomość</label>
                  <textarea id="" cols="40" rows="5"></textarea>
                </p>
                <p class="full-width" style="text-align: center;">
                  <button class="submit">Wyslij</button>
                    <br>Dziękujemy za przesłanie!
                </p>
              </form>
         </div>
         </div>
    </div>
{% endblock content %}