{% extends "layout.html" %}
{% block content %}
    <div style ="background-color: white"  id="information-box">
        <div class="information-box-content">
            <div class="information-box-content-text">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            <h1 style="color: #ff3300">Skontaktuj sie z nami</h1><br>
                <p>Ulica 11, 96-111 Warszawa</p><br>
                <p>snackzen0@gmail.com</p><br>
                <p>(+48) 123 456 789</p><br>
            </div>
        </div>
         <div class="information-box-content2">
             <div class="information-box-content-text2">
              <form action="" method="post">
              {{ form.hidden_tag() }}
                <p>
                  {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control2") }}
                        {% endif %}
                </p>
                <p>
                  {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control2") }}
                        {% endif %}
                </p>
                <p>
                  {{ form.phone.label(class="form-control-label") }}
                        {% if form.phone.errors %}
                            {{ form.phone(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control2") }}
                        {% endif %}
                </p>
                <p>
                  {{ form.address.label(class="form-control-label") }}
                        {% if form.address.errors %}
                            {{ form.address(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.address.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address(class="form-control2") }}
                        {% endif %}
                </p>
                <p class="full-width">
                  {{ form.topic.label(class="form-control-label") }}
                        {% if form.topic.errors %}
                            {{ form.topic(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.topic.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.topic(class="form-control2", rows='1') }}
                        {% endif %}
                </p>
                <p class="full-width">
                  {{ form.body.label(class="form-control-label") }}
                        {% if form.body.errors %}
                            {{ form.body(class="is-invalid2") }}
                            <div class="invalid-feedback">
                                {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.body(class="form-control2", rows='5') }}
                        {% endif %}
                </p>
                <p class="full-width" style="text-align: center;">
                    {{ form.submit(class="submit") }}
                    <br>Dziękujemy za przesłanie!
                </p>
              </form>
         </div>
         </div>
    </div>
{% endblock content %}