<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Restuarant</title>
    {% endif %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/fontello.css') }}">
</head>
<body>
    <div id="top-bar">
        <div id="res_name">
            <p>SNACKZEN</p>
        </div>
        <div id="contest-menu">
            {% for el in menu %}
                <a class="contest-menu-element" href="{{ el.url }}">{{ el.name }} </a>
            {% endfor %}
            {% if current_user.is_authenticated %}
                <div class="contest-menu-element-user">
            <a><i class="icon-user"></i></a>
                <div class="dropdown-content">
                    <a href="account">Moj profil</a>
                    <a href="{{ url_for("logout") }}">Wyloguj</a>
                 </div>
            </div>
            {% else %}
                <div class="contest-menu-element-user">
            <a><i class="icon-user"></i></a>
                <div class="dropdown-content">
                    <a href="login">Zaloguj się!</a>
                    <a href="register">Założ konto!</a>
                 </div>
            </div>
            {% endif %}
        </div>
    </div>
{% block content %}{% endblock %}
    <footer>
        <p>©Created by Maciej Kolodziej. WCY19IJ1S1</p>
    </footer>
</body>
</html>