{% extends "layout.html" %}
{% block content %}
    <div id="information-box2">
        <div id="information-text">
            <h1 style="font-family: Food">Po prostu pycha</h1>
            <p>Świeże pyszności</p>
        </div>
    <div id="menu-layout">
        <div class="menu">
            {% for i in menu_elements %}
                {% if loop.index % 2 == 1 %}
                    <div style = "{{ i.image }}" class="menu-element-image"></div>
                {% elif loop.index % 2 == 0 %}
                    <div style="font-family: Food" class="menu-element" name=""><p>{{ i.image }}<br><br><a id="contact" onclick="{{ i.func }}">Zobacz wiecej!</a></p></div>
                {% endif %}
            {% endfor %}
        </div>
         <div class="menu">
            {% for i in menu_elements2 %}
                {% if loop.index % 2 == 0 %}
                    <div style = "{{ i.image }}" class="menu-element-image"></div>
                {% elif loop.index % 2 == 1 %}
                    <div style="font-family: Food" class="menu-element"><p>{{ i.image }}<br><br><a id="contact" onclick="{{ i.func }}">Zobacz wiecej!</a></p></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="form-popup" id="myForm">
        <button style="float: right;clear: both;margin-right:5px"  type="button" class="btn-close" aria-label="Close" onclick="closeForm()"></button>
        <div style="font-family: Food" class="form-popup-title ">Sniadania</div>
        <div class="form-popup-content">
            <div style="font-family: Food3; font-size: 20px" class="form-popup-text">
                O tym, że śniadanie powinno się jeść każdego ranka wiemy wszyscy. Niestety, nie zawsze się to udaje. Skutkiem może być podwyższone ryzyko niektórych chorób. Co jada się na śniadanie w innych częściach świata i jakie sa nasze śniadaniowe przyzwyczajenia? Ilu z nas je śniadanie świadomie, a dla kogo jest tylko rutyną?
Jesteśmy świadkami zmiany kulturowej jeśli chodzi o jedzenie śniadań. Co istotne, zmiana ta zupełnie nie dotyczy wagi do nich przywiązywanej – śniadanie było i nadal jest zgodnie uznawane za kluczowy element dnia.Dotyczy natomiast mentalnego nastawienia – coraz częściej powodem jedzenia śniadania jest nie prawie bezrefleksyjne kontynuowanie wyniesionych z domu zwyczajów czy poczucie obowiązku, ale świadoma decyzja wynikająca z przekonania o korzyściach z niego płynących.
Zmiana dotyczy też tego, jakie produkty są na śniadanie wybierane, jak i oczekiwań odnośnie roli śniadania w udanym rozpoczęciu dnia.
                </div>
            <div style = "background-image: url(/static/food3.jpg)" class="form-popup-img">
            </div>
        </div>

    </div>

        <div class="form-popup" id="myForm2">
        <button style="float: right;clear: both;margin-right:5px"  type="button" class="btn-close" aria-label="Close" onclick="closeForm2()"></button>
         <div style="font-family: Food" class="form-popup-title">Obiady</div>
        <div class="form-popup-content">
            <div style = "background-image: url(/static/food.jpg)" class="form-popup-img">
            </div>
            <div style="font-family: Food3; font-size: 20px" class="form-popup-text">
                Obiad – główny i zarazem najobfitszy posiłek w ciągu dnia, spożywany w Polsce najczęściej między godziną 12 a 16.

Tradycyjnie składa się z dwóch dań – w Polsce zwykle z zupy oraz dania głównego. W Polsce, w porównaniu z innymi częściami Europy, rozwinęła się bardzo bogata tradycja zup - wysoce zróżnicowanych pod względem regionu czy sezonu. Drugie danie w środowiskach wiejskich było przygotowywane głównie na bazie mąki i od XVII wieku – ziemniaków. Na talerzach bogatszych grup społecznych dominowały potrawy mięsne.

Obecnie tradycyjna forma dwudaniowa nie jest już tak rozpowszechniona i poza specjalnymi uroczystościami bądź dniami tygodnia, jak np. niedziela, często obiad składa się tylko z jednego dania (danie główne lub sycąca zupa). Zmienia się także godzina spożywania obiadu. Pora obiadowa przesuwa się w kierunku godzin wieczornych.</div>
        </div>
        </div>

    </div>
    <div class="form-popup" id="myForm3">
    <button style="float: right;clear: both;margin-right:5px" type="button" class="btn-close" aria-label="Close" onclick="closeForm3()"></button>
         <div style="font-family: Food" class="form-popup-title">Kolacje</div>
        <div class="form-popup-content">
            <div style="font-family: Food3; font-size: 20px" class="form-popup-text">
               Kolacja jest ostatnim posiłkiem spożywanym przed snem, dlatego powinna być lekkostrawna. Często jednak zdarza się, że późno wracamy z pracy i przygotowujemy sobie danie na miarę obiadu, gdyż nie mieliśmy na nie czasu w ciągu dnia. Taki styl życia powoduje otyłość, nadwagę i nie pozwala spać w nocy. Kiedy zatem należy jeść kolację?Bardzo często słyszy się, że ostatni raz można sięgać po jedzenie przed 18. To nieprawda - ludzie, którzy pracują do późna byliby wtedy głodni. Zdrową kolację należy jeść 3 godziny przed snem.
Dzięki temu ułatwimy organizmowi trawienie, które podczas snu jest bardzo spowolnione i zajmuje 4-5 godzin.
Kolacja to nie obiad! Niby proste, ale niektórym te dwa posiłki ciągle się mylą. Przychodzą z pracy o 18, a nawet później i przygotowują danie, które powinni zjeść kilka godzin wcześniej. Na ciepłe, kaloryczne potrawy trzeba znaleźć czas w ciągu dnia. Wieczór jest zarezerwowany na niskokaloryczne danie.
            </div>
            <div style = "background-image: url(/static/food6.jpg)" class="form-popup-img">
            </div>
        </div>

    </div>
     <div class="form-popup" id="myForm4">
     <button style="float: right;clear: both;margin-right:5px"  type="button" class="btn-close" aria-label="Close" onclick="closeForm4()"></button>
         <div style="font-family: Food" class="form-popup-title">Przystawki</div>
        <div class="form-popup-content">
            <div  style = "background-image: url(/static/food4.jpg)" class="form-popup-img">
            </div>
            <div style="font-family: Food3; font-size: 20px" class="form-popup-text">
                Przystawka – potrawa podawana przed głównymi daniami. Niekiedy nazywana z francuskiego hors d'œuvre (wersja spolszczona ordewry)[potrzebne źródło słownikowe]. Przystawki mogą być daniami zimnymi lub gorącymi.
Przystawki podawane są podczas imprez, najczęściej kulturalnych, jak wernisaże, festiwale, bankiety, szczególnie wtedy, gdy od przybycia gości do rozpoczęcia głównej części wydarzenia upływa dość dużo czasu. Przystawkom towarzyszyć mogą napoje bezalkoholowe lub alkoholowe (najczęściej wino i piwo).
Chociaż każde danie podawane w tym czasie można nazwać przystawką, technicznie słowo hors d'oeuvre odnosi się do pojedynczych przystawek. Nie może nią więc być zestaw wędlin czy surowych warzyw lub owoców, natomiast np. śliwka suszona zawinięta w boczek i tak zapieczona, a następnie udekorowana serkiem mascarpone, jest uważana za hors d'oeuvre.
                </div>

    </div>
     </div>

    <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
   document.getElementById("information-box2").style.opacity = "0.3";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("information-box2").style.opacity = "1";
}
function openForm2() {
  document.getElementById("myForm2").style.display = "block";
   document.getElementById("information-box2").style.opacity = "0.3";
}
function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
  document.getElementById("information-box2").style.opacity = "1";
}
function openForm3() {
  document.getElementById("myForm3").style.display = "block";
   document.getElementById("information-box2").style.opacity = "0.3";
}
function closeForm3() {
  document.getElementById("myForm3").style.display = "none";
  document.getElementById("information-box2").style.opacity = "1";
}
function openForm4() {
  document.getElementById("myForm4").style.display = "block";
   document.getElementById("information-box2").style.opacity = "0.3";
}
function closeForm4() {
  document.getElementById("myForm4").style.display = "none";
  document.getElementById("information-box2").style.opacity = "1";
}
</script>

{% endblock content %}