{% extends "layout.html" %}
{% block content %}
    <div id="information-order">
        <div id="menu-box">
        <section id="our_menu" class="pt-0 pb-4">
		<div class="container">
			<div class="row">
				<ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
					<li class="nav-item active">
						<a class="nav-link" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab">Śniadania</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="lunch-tab" data-toggle="tab" href="#dinner" role="tab">Obiady</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="dinner-tab" data-toggle="tab" href="#supper" role="tab">Kolacje</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" id="snacks-tab" data-toggle="tab" href="#snacks" role="tab">Przystawki</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{{ url_for('cart.getcart') }}"> <i class="icon-cart"></i>({{ session['cart']|length}})</a>
					</li>
				</ul>
        	</div>
            <div class="products">
			<div class="row">
				<div class="tab-content col-lg-12" id="myTabContent">
					<div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
						<div class="row">
                            {% for product in products %}
                                {% if product.category == 'breakfast' %}
							<div class="col-md-6">
								<div class="single_menu mr-2">
									<img src="{{ product.image }}" alt="{{ product.name }}">
									<div class="menu_content">
										<h4>{{ product.name }}  <span> {{ product.cost }} zł</span></h4>
                                        <p>
                                        {{ product.description }}
                                        <form style="display: flex;justify-content: flex-end" action="{{ url_for('cart.AddCart') }}" method="POST">
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                        <button class="add-button" href="addcart"><i class="icon-plus"></i></button>
                                        </form>
                                        </p>
									</div>
								</div>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="lunch-tab">
						<div class="row">
                            {% for product in products %}
                                {% if product.category == 'dinner' %}
							<div class="col-md-6">
								<div class="single_menu">
									<img src="{{ product.image }}" alt="burger">
									<div class="menu_content">
										<h4>{{ product.name }}  <span> {{ product.cost }} zł</span></h4>
                                        <p>
                                        {{ product.description }}
                                        <form style="display: flex;justify-content: flex-end" action="{{ url_for('cart.AddCart') }}" method="POST">
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                        <button class="add-button" href="addcart"><i class="icon-plus"></i></button>
                                        </form>
                                        </p>
									</div>
								</div>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
					<div class="tab-pane fade" id="supper" role="tabpanel" aria-labelledby="dinner-tab">
						<div class="row">
                            {% for product in products %}
                                {% if product.category == 'supper' %}
							<div class="col-md-6">
								<div class="single_menu">
									<img src="{{ product.image }}" alt="burger">
									<div class="menu_content">
										<h4>{{ product.name }}  <span> {{ product.cost }} zł</span></h4>
                                        <p>
                                        {{ product.description }}
                                        <form style="display: flex;justify-content: flex-end" action="{{ url_for('cart.AddCart') }}" method="POST">
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                        <button class="add-button" href="addcart"><i class="icon-plus"></i></button>
                                        </form>
                                        </p>
									</div>
								</div>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
                    <div class="tab-pane fade" id="snacks" role="tabpanel" aria-labelledby="snacks-tab">
						<div class="row">
                            {% for product in products %}
                                {% if product.category == 'snacks' %}
							<div class="col-md-6">
								<div class="single_menu">
									<img src="{{ product.image }}" alt="burger">
									<div class="menu_content">
										<h4>{{ product.name }}  <span> {{ product.cost }} zł</span></h4>
                                        <p>
                                        {{ product.description }}
                                        <form style="display: flex;justify-content: flex-end" action="{{ url_for('cart.AddCart') }}" method="POST">
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                        <button class="add-button" href="addcart"><i class="icon-plus"></i></button>
                                        </form>
                                        </p>
									</div>
								</div>
							</div>
                                {% endif %}
                            {% endfor %}
						</div>
					</div>
				</div>
            </div>
			</div>
		</div>
	</section>
            </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </div>
{% endblock content %}