{% extends "layout.html" %}
{% block content %}
    <div id="information-box">
        <div id="menu-box">
                <div class="menu-element2" >
                <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/food3.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                    <div class="food-desc">
                        <p>Cena: </p>
                        <p>Ocena: </p>
                    </div>
                    <div class="food-desc">
                        <button><span>Zamów</span></button>
                        <button><span>Dodaj do koszyka</span></button>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/food.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/3.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/2.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/1.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/main.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/food.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="/static/food3.jpg" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>Danie szefa kuchni</h3>
                        <p>Sprobuj zaskaującego dania!</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}