{% extends "layout.html" %}
{% block content %}
    <div id="information-box">
        <div id="menu-box">
            {% for product in products %}
            <div class="menu-element2">
                 <div class="menu-food">
                    <div class="food-photo">
                        <img src="{{ product.image }}" width="100%" height="100%">
                    </div>
                    <div class="food-desc">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }} </p>
                    </div>
                     <div class="food-desc">
                        <p>Cena: {{ product.cost }}</p>
                        <p>Ocena: </p>
                    </div>
                    <div class="food-desc">
                        <button><span>Zamów</span></button>
                        <button><span>Dodaj do koszyka</span></button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
{% endblock content %}