{% extends "layout.html" %}
{% block content %}
    <div style="background-color: white" id="information-box">
        <div class="information-box-content3">
                 {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <h4>Dane Klienta: </h4>
                Nazwa użytkownika: {{ customer.username }} <br>
                E-mail: {{ customer.email }} <br>
                <h4>Zamówienie: </h4>
                Data zamówienia: {{ orders.date_created.strftime("%b %d %Y %H:%M:%S") }} <br>
                Status: {{ orders.status }} <br>
                <br>
                <br>
                    <table class="table">
                    <thead>
                        <th class="text-center">Nr</th>
                        <th class="text-center">Nazwa</th>
                        <th class="text-center">Ilość</th>
                        <th class="text-center">Cena</th>
                    </thead>
                    <tbody>
                        {% for key, product in orders.orders.items() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.price }} zł</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 style ="text-align: right">Razem: {{ total }} zł</h3>
                <div class="buttons">
                    <form class="form-btn" action="{{url_for('get_pdf', invoice=invoice)}}" method="POST">
                        <button class="btn" type='submit'><i class="icon-pdf"></i>Wydrukuj PDF</button>
                    </form>
                    <form class="form-btn" action="{{url_for('order_again', invoice=invoice)}}" method="POST">
                        <button class="btn" type='submit'><i class="icon-update"></i>Zamów ponownie</button>
                    </form>
                    {% if orders.status !='Niezapłacone' or current_user.id|int != orders.customer_id|int %}
                    {% else %}
                    <form class="form-btn" action="{{url_for('payment_delivery')}}" method="POST">
                        <input type="hidden" name="invoice" value="{{orders.invoice}}">
                        <button class="btn" type='submit'><i class="icon-cash"></i>Płatność przy odbiorze</button>
                    </form>
                    <form class="form-btn" action="{{url_for('payment')}}" method="POST">
                        {% set amount =  total.replace('.','') %}
                        {% set amount =  amount + '0' %}
                        <input type="hidden" name="amount" value="{{amount}}">
                        <input type="hidden" name="invoice" value="{{orders.invoice}}">
                        <script src="https://checkout.stripe.com/checkout.js"
                          class="stripe-button"
                          data-key="pk_test_51KJOqPEYj7vDaQKMeUXoae6KDiwR4ZzdYMuL253SpbAaXVPkTuFe2HJmzKhJy5CZsDN8e2UDs3O31mBooP4KUeAm00quIG2yWO"
                          data-name="{{customer.name}}"
                          data-description="Snackzen order"
                          data-amount="{{amount}}"
                          data-currency="pln">
                        </script>
                    <script>
                     document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                    </script>
                     <button type="submit" class="btn"><i class="icon-card"></i>Zapłać kartą</button>
                  </form>
                  </div>
                {% endif %}
        </div>
    </div>
    </div>
{% endblock %}