{% extends "layout.html" %}
{% block content %}
    <div id="information-box">
    <div class="information-box-content3">
            <h4>Dane Klienta: </h4>
            Nazwa użytkownika: {{ customer.username }} <br>
            E-mail: {{ customer.email }} <br>
            <h4>Zamówienie: </h4>
            Data zamówienia: {{ orders.date_created.strftime("%b %d %Y") }} <br>
            Status: {{ orders.status }} <br>
            <br>
            <br>
                <table class="table">
                <thead>
                    <th>Nr</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                </thead>
                <tbody>
                    {% for key, product in orders.orders.items() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price }} zł</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3 style ="text-align: right">Razem: {{ total }} zł</h3>
                <form action="{{url_for('get_pdf', invoice=invoice)}}" method="POST">
                    <button class="btn" type='submit'>Wydrukuj PDF</button>
                </form>
    </div></div>
{% endblock %}